@section JsFile {
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/select2/select2.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/forms-tagify.js"></script>
    <script src="../../assets/js/forms-selects.js"></script>
    <script src="../..assets/js/forms-selects-Mine.js"></script>
    <script src="../../assets/vendor/libs/quill/quill.js"></script>
    <script src="../../assets/vendor/libs/quill/katex.js"></script>
    <script src="../../assets/js/forms-editors.js"></script>

}

@section CssFile {
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css">

    <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css" /> -->
    <!-- <link rel="stylesheet" href="assets/vendor/fonts/flag-icons.css" /> -->
    <!-- Core CSS -->

    <link rel="stylesheet" href="../../assets/vendor/libs/quill/editor-fa.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/rtl.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/quill/typography.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/quill/katex.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/quill/editor-fa.css">



    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css">

}

<!-- Content -->
<div class="nav-align-top mb-4">
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
            <button type="button" class="@Log.isActive2(ViewBag.pg,1)" role="tab" data-bs-toggle="tab"
                data-bs-target="#MsgData" aria-controls="MsgData" aria-selected="true">
                <i class="tf-icons bx bx-message me-1"></i>ایمیل
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="@Log.isActive2(ViewBag.pg,2)" role="tab" data-bs-toggle="tab"
                data-bs-target="#rply" aria-controls="rply" aria-selected="true">
                <i class="tf-icons bx bx-reply me-1"></i>پاسخ ها
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="@Log.isActive2(ViewBag.pg,3)" role="tab" data-bs-toggle="tab"
                data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false">
                <i class="tf-icons bx bx-alarm me-1"></i> رویداد
            </button>
        </li>


    </ul>
    <div class="tab-content">
        <div class="@Log.isActive(ViewBag.pg , 1)" id="MsgData" role="tabpanel">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="col-xxl">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center" role="alert">
                            @ViewBag.Error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">@ViewBag.title</h5>
                            <small class="text-muted float-end primary-font">
                                @ViewBag.Messages.Item1[0].CreateTime
                                @ViewBag.Messages.Item1[0].CreateDate
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">فرستنده</label>
                                <div class="col-sm-10">
                                    <input readonly type="text" class="form-control" id="basic-default-name"
                                        name="SerialNumber"
                                        value="@ViewBag.Messages.Item1[0].SenderFirstName @ViewBag.Messages.Item1[0].SenderLastName (@ViewBag.Messages.Item1[0].SenderUser)">
                                </div>
                            </div>
                            <div class="row md-3">
                                <label for="ReciverId" class="col-sm-2 col-form-label">لیست گیرنده ها</label>
                                <div class="col-sm-10">
                                    <select disabled id="ReciverId" class="select2 form-select" name="ReciversId"
                                        multiple>
                                        @foreach (var item in ViewBag.Messages.Item1[0].Recivers)
                                        {@if (item.ReciverType == "4")
                                            {
                                                <option data-avatar="@item.ReciverProfile" value="@item.ReciverId" selected>
                                                    @item.ReciverFirstName @item.ReciverLastName (@item.ReciverUserName)
                                                </option>
                                            }}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row md-3">
                                <label for="CCId" class="col-sm-2 col-form-label">لیست رونوشت ها</label>
                                <div class="col-sm-10">
                                    <select disabled id="CCId" class="select2 form-select" name="CCsId" multiple>
                                        @foreach (var item in ViewBag.Messages.Item1[0].Recivers)
                                        {
                                            @if (item.ReciverType == "5")
                                            {
                                                <option data-avatar="@item.ReciverProfile" value="@item.ReciverId" selected>
                                                    @item.ReciverFirstName @item.ReciverLastName (@item.ReciverUserName)
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-name">شماره سریال</label>
                                <div class="col-sm-10">
                                    <input readonly type="text" class="form-control" id="basic-default-name"
                                        name="SerialNumber" placeholder="شماره سریال را وارد کنید"
                                        value="@ViewBag.Messages.Item1[0].MessageSerialNumber">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="basic-default-company">موضوع</label>
                                <div class="col-sm-10">
                                    <input readonly type="text" class="form-control" id="basic-default-company"
                                        placeholder="موضوع (subject) ایمیل را وارد کنید" name="Subject"
                                        value="@ViewBag.Messages.Item1[0].MessageSubject">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">پیام</label>
                                <div class="col-sm-10">
                                    <div class="form-control table-responsive">
                                        @Html.Raw(@ViewBag.Messages.Item1[0].MessageBodyText)
                                    </div>
                                </div>
                            </div>
                            @if (ViewBag.Messages.Item1[0].Files.Count != 0)
                            {
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label" for="upload">فایل های پیوست شده</label>
                                    <div class="col-sm-10">
                                        @foreach (var item in ViewBag.Messages.Item1[0].Files)
                                        {
                                            <a type="button" class="btn btn-primary" href="@item.FilePath"
                                                target="_blank">@item.FileName</a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <form id="form" action="/Email/AddReply" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="MessageId" value="@ViewBag.Messages.Item1[0].MessageId">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">پاسخ به @ViewBag.title</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-company">موضوع</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-company"
                                                placeholder="موضوع (subject) ایمیل را وارد کنید" name="Subject"
                                                value="@ViewBag.Subject">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">پیام</label>
                                        <input type="hidden" id="hiddenBodyText" name="BodyText">
                                        <div class="col-sm-10">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div id="full-editor">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="upload">فایل های پیوست
                                            شده</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="upload" class="account-file-input" multiple
                                                name="Files">
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-secondary">ارسال</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="@Log.isActive(ViewBag.pg , 2) " id="rply" role="tabpanel">
        @foreach (var item in ViewBag.Messages.Item1[0].Child)
        {
            <br>
            <div class="card card-action mb-4">
                <div class="card-body">
                    <div class="row md-3">
                        <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="mb-0">@item.SenderFirstName @item.SenderLastName (@item.SenderUser)</h5>
                            <small class="text-muted float-end primary-font">
                                @item.CreateTime
                                @item.CreateDate
                            </small>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-company">موضوع</label>
                            <div class="col-sm-10">
                                <input type="text" readonly disabled class="form-control" id="basic-default-company"
                                    placeholder="موضوع (subject) ایمیل را وارد کنید" name="Subject"
                                    value="@item.ReplySubject">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">پیام</label>
                            <div class="col-sm-10">
                                <div class="form-control">
                                    @Html.Raw(item.ReplyBodyText)
                                </div>
                            </div>
                        </div>
                        @if (item.Files.Count != 0)
                        {
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label" for="upload">فایل های پیوست شده</label>
                                <div class="col-sm-10">
                                    @foreach (var item2 in item.Files)
                                    {
                                        <a type="button" class="btn btn-primary" href="@item2.FilePath"
                                            target="_blank">@item2.FileName</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <br>
        }
    </div>

    <div class="@Log.isActive(ViewBag.pg,3)" id="navs-justified-profile" role="tabpanel">
        <div class="card card-action mb-4">
            <div class="card-header align-items-center">
                <h5 class="card-action-title mb-3"><i class="bx bx-list-ul bx-sm me-2"></i>خط زمانی رویداد ها
                </h5>
            </div>
            <div class="card-body">
                <ul class="timeline ms-2">
                    @foreach (var item in ViewBag.MsgLog.Item1)
                    {
                        <li class="timeline-item timeline-item-transparent">
                            <span class="timeline-point timeline-point-warning"></span>
                            <div class="timeline-event">
                                <div class="timeline-header mb-1">
                                    <h6 class="mb-0 mt-n1">@Log.GetMsgLog(item)</h6>
                                    <small class="text-muted mt-1 mt-sm-0 mb-1 mb-sm-0">
                                        @item.CreateTime
                                        @item.CreateDate
                                    </small>
                                </div>
                                <div class="d-flex flex-wrap align-items-center">
                                    <div class="avatar me-3 mt-1">
                                        <img src="@item.WhoDone.Profile" alt="آواتار" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6 class="mb-1">@item.WhoDone.Name (@item.WhoDone.Username)</h6>
                                        <span>@item.LogAction</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (ViewBag.MsgLog.Item2 - 2 > 0)
                    {
                        <li class="page-item first">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=1">
                                <i class="tf-icon bx bx-chevrons-left"></i>
                            </a>
                        </li>
                    }
                    @if (ViewBag.MsgLog.Item2 - 1 != 0)
                    {
                        <li class="page-item prev">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2-1)">
                                <i class="tf-icon bx bx-chevron-left"></i>
                            </a>
                        </li>
                    }

                    @if (ViewBag.MsgLog.Item2 - 2 > 0)
                    {
                        <li class="page-item">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2-2)">
                                @(ViewBag.MsgLog.Item2
                                    - 2)
                            </a>
                        </li>
                    }
                    @if (ViewBag.MsgLog.Item2 - 1 > 0)
                    {
                        <li class="page-item">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2-1)">
                                @(ViewBag.MsgLog.Item2
                                    - 1)
                            </a>
                        </li>
                    }
                    <li class="page-item active">
                        <a class="page-link"
                            href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@ViewBag.MsgLog.Item2">@ViewBag.MsgLog.Item2</a>
                    </li>
                    @if (ViewBag.MsgLog.Item2 + 1 <= ViewBag.MsgLog.Item4)
                    {
                        <li class="page-item">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2+1)">
                                @(ViewBag.MsgLog.Item2
                                    + 1)
                            </a>
                        </li>
                    }
                    @if (ViewBag.MsgLog.Item2 + 1 < ViewBag.MsgLog.Item4)
                    {
                        <li class="page-item">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2+2)">
                                @(ViewBag.MsgLog.Item2
                                    + 2)
                            </a>
                        </li>
                    }
                    @if (ViewBag.MsgLog.Item2 + 1 <= ViewBag.MsgLog.Item4)
                    {
                        <li class="page-item next">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@(ViewBag.MsgLog.Item2+1)">
                                <i class="tf-icon bx bx-chevron-right"></i>
                            </a>
                        </li>
                    }
                    @if (ViewBag.MsgLog.Item2 + 1 < ViewBag.MsgLog.Item4)
                    {
                        <li class="page-item last">
                            <a class="page-link"
                                href="/email/@ViewBag.route/@ViewBag.Messages.Item1[0].MessageId?pg=3&LogPage=@ViewBag.MsgLog.Item4">
                                <i class="tf-icon bx bx-chevrons-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!--/ Content -->
