@section CssFile{
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/animate-css/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css">
}

@section JsFile{
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/select2/i18n/fa.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/pages-account-settings-account.js"></script>
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">تنظیمات حساب /</span> حساب
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header heading-color">جزئیات حساب کاربری</h5>
                @if (ViewBag.error != null)
            {
              <div class="alert alert-solid-danger alert-dismissible d-flex align-items-center" role="alert">
                <i class="bx bx-xs bx-store me-2"></i>
                @ViewBag.error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            }
            @if (ViewBag.Result != null)
            {
              <div class="alert alert-solid-success" role="alert">
                @ViewBag.Result
              </div>
            }
                <!-- Account -->
                <hr class="my-0">
                <div class="card-body">
                    <form onsum="/Auth/register" method="POST" enctype="multipart/form-data">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="@ViewBag.Profile" alt="user-avatar" class="d-block rounded" height="100"
                             width="100" id="uploadedAvatar">
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">ارسال تصویر جدید</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden
                                       accept="image/png, image/jpeg ,image/GIF" name="Profile">
                            </label>


                            <span class="mb-0">فایل‌های JPG، GIF یا PNG مجاز هستند. حداکثر اندازه فایل 800KB.</span>
                        </div>
                        <hr class="my-0">

                    </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">نام</label>
                                <input class="form-control" type="text" id="firstName" name="firstName" value="@ViewBag.FirstName"
                                       autofocus>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">نام خانوادگی</label>
                                <input class="form-control" type="text" name="lastName" id="lastName" value="@ViewBag.Lastname">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="Phone">شماره تلفن</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="Phone" name="Phone" readonly
                                           class="form-control text-start" placeholder="شماره تماس" value="@ViewBag.Phone" dir="ltr">
                                    <span class="input-group-text">IR</span>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="Addres" class="form-label">آدرس</label>
                                <input type="text" class="form-control" id="Addres" name="Addres" placeholder="آدرس" value="@ViewBag.Addres">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="NatinalCode" class="form-label">کد ملی</label>
                                <input class="form-control" type="text" name="NatinalCode" id="NatinalCode" readonly value="@ViewBag.NatinalCode">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="PerconalCode" class="form-label">کد پرسنلی</label>
                                <input class="form-control" type="text" name="PerconalCode" id="PerconalCode" value="@ViewBag.PerconalCode">
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">ذخیره تغییرات</button>
                            <button type="reset" class="btn btn-label-secondary">انصراف</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>